#list {
  min-height: 50%;
}

#img-vote {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}

#vote-white {
  background: white !important;
  padding-bottom: 115px;
}

img {
  position: relative;
  display: inline-block;
}

.overlay {
  display: none;
}

.card-vote:hover .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  img {
    vertical-align: top;
  }
}

#vote-white,
.card-vote {
  border: gray 1px solid;
  cursor: pointer;
}
.card-vote::before {
  content: "";
}

.img-div {
  height: 105px;
}

.card-vote img {
  // height: 240px;
  // width: auto;
}

.no-vote {
  cursor: none;
  pointer-events: none;
  z-index: 100;
  background: rgba($color: #000000, $alpha: 0.6);
}

mat-toolbar {
  background: #020081;
  color: white;
  text-align: center;
  font-size: 15px;
  display: grid;
  height: 32px;
}
