mat-toolbar {
  color: #5e5e5e;
  background: white;
  text-align: center;
  font-size: 15px;
  display: grid;
  height: 32px;
}

h3{
  color: #020081;
}

#vote-white {
  mat-card-content {
    background: white !important;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    h3 {
      flex: 1;
    }
  }
}

#vote-white,
.card-vote {
  border: gray 1px solid;
  cursor: pointer;
  height: 100%;
}

.overlay {
  display: none;
}

.card-vote:hover .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  img {
    vertical-align: top;
  }
}
