/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center,
.mat-cell,
.mat-header-cell,
.mat-footer-cell {
  text-align: center !important;
}

.mat-header-cell {
  background: #7f0000;
  color: white;
}

.mat-footer-cell {
  background: gainsboro;
  color: #353535;
  font-weight: 500;
}
